@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf) format('truetype');
    /* Add more font formats for broader browser support */
    /* e.g., woff, woff2, etc. */
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nb'
}

html, body {
    height: 100%;
    width: 100%;
    
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(140, 145, 145);
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}

nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
    
}
nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
}